
<section>
 {{# each customer }}
<div class="card" style="width:300px;float:left">
  <img class="card-img-top" src="uploads/{{photo}}" style="width:250px;height:250px;margin:20px">
  <div class="card-body">
    <h4 class="card-title text-center">{{name}}</h4>
    {{!-- <p class="card-text"> this my first image </p> --}}
    <a href="http://localhost:3000/uploads/{{photo}}" target="_blank"
     class="btn btn-primary" style="margin-left:6.2rem;">view</a>
  </div>
</div>

 {{/each}}
</section>



