
<section>
 {{# each customer }}
<div class="card" style="width:245px;float:left">
  <img class="card-img-top" src="uploads/{{photo}}" style="width:200px;height:250px;margin:auto">
  <div class="card-body">
    <h4 class="card-title text-center">{{name}}</h4>
    {{!-- <p class="card-text"> this my first image </p> --}}
    {{!-- for production --}}
    <a href="https://teammarkup.herokuapp.com/uploads/{{photo}}" target="_blank"
     class="btn btn-primary" style="margin:0.2em 4em">view</a>
     {{!-- for develop --}}
    {{!-- <a href="http://localhost:3000/uploads/{{photo}}" target="_blank"
     class="btn btn-primary" style="margin:0.2em 4em">view</a> --}}
  </div>
</div>
 {{/each}}
</section>



