
<form action="users/login" method="POST" style="width: 450px;margin:auto">

<label for="name">email</label>
<input type="text" name="email" id="email" class="form-control">
  
  <label for="name">password</label>
<input type="text" name="password" id="password" class="form-control">
   

<button type="submit" class="btn btn-default">login</button> 
<a href="/signup">sign up</a>
</form>



{{!-- 
<form action="users/forget" method="POST" style="width: 450px;margin:auto">

<label for="name">email</label>
<input type="text" name="email" id="email" class="form-control">
  

<button type="submit" class="btn btn-default">login</button> 

</form> --}}